core/bootstrap/src/main/config/dtd/MLP_LOC_310.DTD

<!-- MLP_LOC -->
<!--
MLP V3.1 Document Type Definition

Copyright Open Mobile Alliance Ltd., 2002
          All rights reserved

MLP is an XML language. Typical usage:
   <?xml version="1.0"?>
   <!DOCTYPE svc_xxx PUBLIC "-//OMA//DTD {abbrev x.y}//EN"
             "http://www.openmobilealliance.org/DTD/{filename}"
             [<?oma-{ref}-ver supported-versions="{versions}"?>]>
   <svc_xxx>
      ...
   </svc_xxx>

Terms and conditions of use are available from the 
Open Mobile Alliance Ltd. web site at
http://www.openmobilealliance.org/useterms.html
-->

		
<!ELEMENT	pos	(msid, (pd | poserr),
 gsm_net_param?)>
<!ELEMENT	eme_pos	(msid, (pd | poserr), esrd?,
 esrk?)>
<!ELEMENT	trl_pos	(msid, (pd | poserr))>
<!ATTLIST	trl_pos	
	trl_trigger (PERIODIC | MS_AVAIL)	#REQUIRED>
<!ELEMENT	pd	(time, shape, (alt, alt_acc?)?,
 speed?, direction?,
 lev_conf?)>
<!ELEMENT	poserr	(result, add_info?, time)>
<!ELEMENT	time	(#PCDATA)>
<!ATTLIST	time	
	utc_off CDATA	"0000">
<!ELEMENT	alt	(#PCDATA)>
<!ELEMENT	alt_acc	(#PCDATA)>
<!ELEMENT	direction	(#PCDATA)>
<!ELEMENT	speed	(#PCDATA)>
<!ELEMENT	lev_conf	(#PCDATA)>
<!ELEMENT	geo_info	(CoordinateReferenceSystem)>
<!ELEMENT	CoordinateReferenceSystem	(Identifier)>
<!ELEMENT	Identifier	(code, codeSpace, edition)>
<!ELEMENT	code	(#PCDATA)>
<!ELEMENT	codeSpace	(#PCDATA)>
<!ELEMENT	edition	(#PCDATA)>
		
<!ENTITY	% mlp_res.dtd 	SYSTEM "MLP_RES_300.DTD">
%mlp_res.dtd;	
